{
  "rules": {
    "indent": ["warn", "tab", {"SwitchCase": 1}],
    "react/jsx-indent": ["warn", "tab"],
    "react/jsx-indent-props": ["warn", "tab"],
    "no-unused-vars": ["warn"],
    "no-tabs": ["off"],
    "jsx-quotes": ["warn", "prefer-double"],
    "quotes": ["warn", "double"],
    "semi": ["warn", "always"],
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "off", // Checks effect dependencies
    "comma-dangle": ["warn", {
      "arrays": "never",
      "objects": "always",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "array-bracket-spacing": ["warn", "always"],
    "sort-keys": ["warn", "asc", {"caseSensitive": true, "natural": false}],
    "sort-keys-fix/sort-keys-fix": "warn",
    "max-statements": ["warn", 300],
    "complexity": ["warn", 100],
    "max-nested-callbacks": ["warn", 100],
    "max-depth": ["warn", 100],
	  "no-console": ["warn", { "allow": ["info", "warn", "error"]}],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["off"],
    "require-jsdoc": ["warn", {
      "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true,
          "FunctionExpression": false
      }
    }]
  },
  "extends": [
    "standard",
    "standard-react",
    "standard-jsx"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "arrowFunctions": true,
    "ecmaVersion": 6,
    "experimentalObjectRestSpread": true,
    "jsx": true
  },
  "plugins": [
    "@typescript-eslint",
    "flowtype",
    "import",
    "promise",
    "react",
    "standard",
    "sort-keys-fix",
    "react-hooks"
  ],
  "parser": "@typescript-eslint/parser"
}